$max-width-container: 1040px;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    scrollbar-width: thin;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        // width: $scrollbar-width;
        // height: $scrollbar-width;
    }

    &::-webkit-scrollbar-track {
        background: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: red;
    }
}

html,
body {
    color: white;
    background-color: rgb(161, 158, 158);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.container {
    width: calc(100% - 80px);
    max-width: $max-width-container;
    margin: 0 auto;
}

a {
    color: white;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
li {
    list-style-type: none;
  }